@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.game-table {
    width: 100%;
    height: 100vh;
}

.game-cell {
    border: 1px solid rgba(111, 124, 143, 0.8);
    background-color: rgb(196, 195, 195);
}

.trap-cell, .trap-cell:hover {
    background-color: rgba(30, 30, 30, 1);
}

.trap-cell-danger, .trap-cell-danger:hover {
    background-color: rgb(145, 37, 37);
}

.cell-danger1, .cell-danger1:hover {
    background-color: rgb(170, 60, 60);
}

.cell-danger2, .cell-danger2:hover {
    background-color: rgb(209, 102, 102);
}

.cell-danger3, .cell-danger3:hover {
    background-color: rgb(240, 174, 174);

}



.c-pointer {
    cursor: pointer;
}
